# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ddeploy.ui.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\CS\ddeploy\ddeploy.ui\.idea\.idea.ddeploy.ui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
