# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ddeploy.iml
# Datasource local storage ignored files
/../../../../../../../../:\Development\CS\ddeploy\ddeploy\.idea\.idea.ddeploy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
