# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.fita.iml
# Datasource local storage ignored files
/../../../../../../../../:\Development\CS\fita\fita\.idea\.idea.fita\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
